<header class="text-3xl font-bold mt-3 ml-12 absolute">Sign up</header>

<div class="flex flex-col ml-3 mt-12">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-2">
    <%= f.label :email %></br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field mb-2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field mb-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="flex flex-row justify-between">
  <div class="actions bg-gray-500 hover:bg-gray-600 
              focus:outline-none focus:ring focus:ring-gray-300 
              rounded-full text-m text-gray-100 ml-1.5 mb-2 p-2.5 px-3"><%= f.submit "Sign up" %></div>
  <% end %>

  <div class="flex flex-row"><%= render "devise/shared/links" %></div>
  </div>
</div>
