<div class="text-gray-800 ml-2 mt-12 flex flex-row">
  <%= form_with model: article do |form| %>
      <div class="p-3">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
      <div class="p-3">
        <%= form.label :body %><br>
        <%= form.text_area :body %><br>
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="p-3">
        <%= form.label :status %>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
      </div><br>

    <div class="flex flex-row">
      <button class="">
        <%= form.button "Create Article", type: :submit, class: :"bg-gray-500 hover:bg-gray-600 
        focus:outline-none focus:ring focus:ring-gray-300 
        rounded-full text-m text-gray-100 ml-1.5 p-2.5 px-3"%>
      </button>
    <% end %><br>
      <button class="bg-gray-500 hover:bg-gray-600 
      focus:outline-none focus:ring focus:ring-gray-300 
      rounded-full text-m text-gray-100 ml-1.5 p-2.5 px-3">
      <%= link_to "Back to Articles", articles_path %>
      </button>
    </div>
</div>
  