<header class="text-3xl font-bold mt-3 ml-12 absolute">Log in</header>

<div class="flex flex-col ml-3 mt-12">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: :"form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm 
        bg-white checked:bg-blue-600 checked:border-blue-600 
        focus:outline-none transition duration-200 my-1 align-top 
        bg-no-repeat bg-center bg-contain float-left cursor-pointer mr-2" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="flex flex-row my-2">
    <div class="actions">
      <%= f.button "Log in", type: :submit, class: :"bg-gray-500 hover:bg-gray-600 
      focus:outline-none focus:ring focus:ring-gray-300 
      rounded-full text-m text-gray-100 ml-1.5 mb-2 p-2.5 px-0.5" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
